!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
    %title
      DUMP 2014: Heroku Demo
    = csrf_meta_tags
    = javascript_include_tag 'application'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
      .container
        .navbar-header
          %button.navbar-toggle{ 'data-target' => '.navbar-ex1-collapse', 'data-toggle' => 'collapse', type: 'button'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.nav-link{href: root_path}
            DUMP 2014: Heroku Demo
        .collapse.navbar-collapse.navbar-ex1-collapse
    .container
      = yield